*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.header1{
    /* border: 2px solid; */
    height: 160px;
    display: flex;
    gap: 700px;
    padding: 30px;
    word-spacing: 50px;
}

a{
    font-size: 22px;
    padding: 40px;
}

.sec1{
    background-image: url("https://images.squarespace-cdn.com/content/v1/534444fbe4b0f9ffdd2ebc61/1510764242245-JIWZSYBY8CYHZBOEUGAM/Ray+Romano+Loft+renovation+nyc+brooklyn+hamptons+luxury+construction.jpg?format=2500w");
    background-attachment: fixed;
    /* background-attachment: scroll; */
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    /* justify-content: center; */
}

.divide1{
    
    margin-left: 200px;
    /* margin-top: 80px; */

}

.div3{
    background-color: rgba(240, 255, 255, 0.701);
    width: fit-content;
    /* border: 2px solid; */
    font-size: 30px;
    font-family: 'Times New Roman' ;
}


.div4{
    background-color: rgba(240, 255, 255, 0.573);
    width: 600px;
    /* border: 2px solid; */
    font-size: 23px;
    font-family: 'Times New Roman' ;
}

.div5{
    /* border: 2px solid; */
    margin-left: 400px;
    width: 800px;
    justify-content: center;
    align-content:center;
}


.sec2{
    /* border: 2px solid; */
    height: 600px;
    background-image: url("https://images.squarespace-cdn.com/content/v1/534444fbe4b0f9ffdd2ebc61/1510765722553-76QEADJUAJRSEYMGLNSA/Ray+Romano+Contracting+combination+renovation+luxury+contemporary+Upper+East+Side+NYC+Hamptons+Brooklyn+NJ.jpg?format=2500w");
    background-attachment: fixed;
    font-size: 35px;
}

.div7{
    margin-left: 400px;
    /* border: 2px solid; */
    width: 800px;
    justify-content: center;
    align-content:center;

}

.sec3{
    /* border: 2px solid; */
    height: 600px;
    background-image: url("https://images.squarespace-cdn.com/content/v1/534444fbe4b0f9ffdd2ebc61/1510766494470-KZDDR11SFE43N4RHTCLR/Ray+Romano+Hamptons+Sag+Harbor+renovation.jpg?format=2500w");
    background-attachment: fixed;
    font-size: 35px;

}

.div9{
    width: 600px;
    margin-left: 400px;
}

.sec4{
    /* border: 2px solid; */
    width: 100%;
    height: 900px;
    display: grid;
    column-gap: 200px;
    row-gap: 250px;
    justify-content: center;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 100px 100px;

}

/* .div10 {
    border: 2px solid;
} */

.image{
    height: 200px;
    width: 300px;
}

.footer1{
    background-color: black;
    height: 80px;
}


.p1{
    text-align: center;
    padding: 30px;
    color: white;
}


img{
    border-radius: 40px;
}

div{
    font-size: 20px;
}